
.grid-books {
	display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}
.page-link {
  border: 0;
  border-radius: 8px;
}
.page-link.disabled {
	background: inherit;
}
.pointer {
	cursor: pointer;
}
.row-login {
  display: grid;
  grid-template-columns: 1fr 1fr 75px;
  grid-gap: 5px;
  max-width: 320px;
}
.row-login .btn {
  width: 100%;
}
.msg-login {
  grid-column: 1 / span 3;
  position: absolute;
  bottom: -8px;
}
.tree ul {
  list-style-type: none;
}
.list-style.caret-right .bi-circle-fill,
.list-style.caret-right .bi-caret-down-fill {
  display: none;
}

.list-style.caret-left .bi-circle-fill,
.list-style.caret-left .bi-caret-right-fill {
  display: none;
}

.list-style.circle .bi-caret-down-fill,
.list-style.circle .bi-caret-right-fill {
  display: none;
}

.list-style.caret-right .bi-caret-right-fill,
.list-style.caret-left .bi-caret-left-fill, 
.list-style.circle .bi-circle-fill {
  display: inline;
}

.list-style.circle .bi-circle-fill::before {
  /* font-size: 9px;
  vertical-align: 1px;
  width: 13px;
  margin-left: 4px; */
}
.list-style.circle .bi-circle-fill {
  visibility: hidden;
}
.btn-f-option.none .bi-dash,
.btn-f-option.include .bi-dash {
  display: none;
}
.btn-f-option.exclude .bi-check,
.btn-f-option.none .bi-check {
  display: none;
}
.btn-f-option {
  padding: 0 4px;
  font-size: 14px;
  vertical-align: unset;
}
.tree ul {
    padding-left: 1.5rem;
}
.tree ul li {
  margin-bottom: 2px;
}
.tree ul li.direct button {
  /* font-weight: bold; */
}
.tree > ul {
  padding-left: 0;
}

.filters-active {
  margin-bottom: 15px;;
}

.filters-active span {
  margin-right: 5px;
}

.cursor-default {
  cursor: default;
}



@media (max-width: 767px) {
  .grid-books {
    grid-template-columns: 1fr 1fr;
  }
}